<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="home"><img src="/assets/images/crown.png" width="32" height="32" /></a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-panel">Admin-panel</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="user/profile" style="color:rgba(255, 255, 255, 0.425)">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user/login" style="color:rgba(255, 255, 255, 0.425)">LogIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user/registration" style="color:rgba(255, 255, 255, 0.425)">Registration</a>
    </li>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

