input.ng-touched.ng-invalid{
    border-color: red;
}

body {
    background-image: url("assets/images/phone.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .vertical-center {
    height:100%;
    width:100%;
  }