<div class="card" *ngIf="userDetails">
    <h1>Мой кабинет</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Имя пользователя: </strong>{{userDetails.userName}}
        </li>
        <li class="list-group-item">
            <strong>Полное имя: </strong>{{userDetails.fullName}}
        </li>
        <li class="list-group-item">
            <strong>Email: </strong>{{userDetails.email}}
        </li>
        <li class="list-group-item bg-danger">
            <button type="button" class="btn btn-info btn-block" (click)="changePassword()">Изменить пароль</button>
            <button type="button" class="btn btn-info btn-block" (click)="deleteAccount()">Удалить аккаунт</button>
        </li>
    </ul>
</div>